header {
    background-color: #5c2c42;
}
#topo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0px;
    padding: 0px;
}
#divbusca {
    width: 100%;
    padding: 10px;
}
#divbusca {
    display: flex;
    justify-content: center;
}
#topo {
    height: 50px;
    width: 75%;
}
#h1alugando {
    padding-left: 30px;
   font-size: 1rem;
    
}
#btn-mobile {
    width: 2.1rem;
    padding-right: 30px;
    padding-left: 5px;

    
}
#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;


}
#spanbtn {
    border-top: 2px solid;
    width: 20px;
}
#spanbtn::after, #spanbtn::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
}
#menu{
    display: none;
    
    /*display: block;
    width: 100%;
    top: 70px;
    right: 0px;
   
    height: calc(100vh - 70px);
    z-index: 1000;
}
#nav.aactive #menu {
    display: block;*/
}
#btn-mobile {
    display: flex;
    align-items: center;
}
#topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body header div div h1 {
    color: #e2e2e2;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
@media (min-width: 550px) {
    #menu {
        display: flex;
        text-decoration: none;
        font-size: 1rem;
        color: #e2e2e2;

    } 
    #h1alugando {
        padding-left: 20px;
    }
    #topo {
        width: 100%;
    }
    #btn-mobile{
        display: none;
    }
    #nav {
        display: flex;
    }
    #nav{
        padding-right: 20px;
    }
    #topo {
        display: flex;
        justify-content: space-between;
    }
    body header div nav ul li {
        list-style: none;
        padding-left: 15px;
    }
    body header div nav ul {
        display: flex;
    }
}
/*Cadastro de locador*/

main{
    padding-left: 20%;
    padding-right: 20%;
}
header main{
    background-color: #5c2c42;
}
.cadastro{
    background-color: #e2e2e2;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
}
h1{
    color: #e2e2e2;
    padding: 10px;
    margin-left: 18%;
}
main form{
    display: flex;
    flex-direction: column;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
#name{
    width: 70%;
}
#email{
    width: 70%;
}
#telefone{
    width: 70%;
}
#cidade{
    width: 70%;
}
#bairro{
    width: 70%;
}
#cep{
    width: 70%;
}
#rua{
    width: 70%;
}
#caracteristica{
    width: 70%;
}
#definicao{
    width: 70%;
}
#valor{
    width: 70%;
}
#senha{
    width: 70%;
}
#confirmaSenha{
    width: 70%;
}
.email{
    margin-bottom: 5px;
}
.telefone{
    margin-bottom: 5px;
}
.cidade{
    margin-bottom: 5px;
}
.bairro{
    margin-bottom: 5px;
}
.cep{
    margin-bottom: 5px;
}
.rua{
    margin-bottom: 5px;
}
.caracteristica{
    margin-bottom: 5px;
}
.definicao{
    margin-bottom: 5px;
}
.navegacao{
    margin-top: 50px;
}
.botaosalvar{
    margin-top: 5px;
    margin-right: 60%;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 10px;
    border-color: #5c2c42;
    color: #5c2c42;
}
.facebook{
    padding-right: 10px;
}
.instagram{
    padding-right: 10px;
}
