header {
    background-color: #5c2c42;
}
.topo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0px;
    padding: 0px;
}
.divbusca {
    width: 100%;
    padding: 10px;
}
.divbusca {
    display: flex;
    justify-content: center;
}
.topo {
    height: 50px;
    width: 75%;
}
#h1alugando {
   font-size: 1rem;
    
}
.icone-menu {
    width: 2.1rem;
    padding-right: 30px;
    padding-left: 5px;
 
    
}
.icone-menu {
    display: flex;
    align-items: center;
}
.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body header div div h1 {
    color: #e2e2e2;
    font-family: sans-serif;
}
.cadastro{
    background-color: white;
}
h1{
    color: #e2e2e2;
    padding: 10px;
}
main form{
    display: flex;
    flex-direction: column;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
}
.email{
    margin-bottom: 5px;
}
.telefone{
    margin-bottom: 5px;
}
.cidade{
    margin-bottom: 5px;
}
.bairro{
    margin-bottom: 5px;
}
.cep{
    margin-bottom: 5px;
}
.rua{
    margin-bottom: 5px;
}
.propriedade{
    margin-bottom: 5px;
}
.definicao{
    margin-bottom: 5px;
}
.navegacao{
    margin-top: 50px;
}
.facebook{
    padding-right: 10px;
}
.instagram{
    padding-right: 10px;
}